target/
build/
*.jar
*.war

.idea/
*.iml
*.ipr
*.iws
*.class

# Ignorar archivos de Maven
.mvn/
.settings/
dependency-reduced-pom.xml
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.previous

*.log

.DS_Store
Thumbs.db
*.swp

.git/
.gitignore

.vscode/
*.sublime-project
*.sublime-workspace
